* {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(148, 192, 252);
}
#disclaimer {
	padding: 20px;
	width: 800px;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	padding: 16px;
	position: sticky;
	top: 0;
	background-color: rgb(148, 192, 252);
}

#light {
	background-color: white;
	width: 180px;
}

#dark {
	background-color: rgb(19,19,19);
	color: white;
	width: 180px;
}

.menu {
	display: flex;
	gap: 24px;
	padding: 12px;
}

a {
	text-decoration: none;
	color: rgb(19,19,19);
}

button {
	padding: 12px;
	border-radius: 40px;
	border: none;
	cursor: pointer;
	font-size: 20px;
	transition: .2s;
	font-weight: bold;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 24px;
}
#section-two {
	gap: 48px;
}

h1 {
	font-size: 48px;
	text-align: center;
}
.paragraph {
	width: 700px;
	font-size: 18px;
	text-align: center;
}

img {
	height: 400px;
	width: 267px;
	border-radius: 23px;
}

#part-one {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#part-two {
	display: none; /* Default option */
	flex-direction: column;
	gap: 16px;
}

#section-three {
	gap: 24px;
}

#special {
	width: 400px;
	background-color:teal;
	color:aqua;
	border-radius: 23px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

#confirm {
	font-weight: bold;
	font-size: 16px;
	margin-top: -16px;
	display: none;
}